@import "tailwindcss";

/* Base Styles */
 h1 {
  display: block;
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold;
  font-family: serif;
  color: #363435;
}

 h2 {
  display: block;
  font-size: 1.75em;
  margin: 0.5em 0;
  font-weight: bold;
  font-family: serif;
  color: #363435;
}

 h3 {
  display: block;
  font-size: 1.5em;
  margin:  0;
  font-weight: bold;
  font-family: serif;
  color: #363435;
}

 h4 {
  display: block;
  font-size: 1.35em;
  margin: 0.33em 0;
  font-weight: bold;
  /* font-family: serif; */
  color: #363435;
}

 h5 {
  display: block;
  font-size: 1em;
  margin: 1.67em 0;
  font-weight: bold;
}

 p {
  display: block;
  margin: 1em 0;
  text-align: justify;
  line-height: 1.6;
  /* font-family: serif; */
  color: #363435;

}

 ul,
 ol {
  display: block;
  margin: 1em 0;
  padding-left: 40px;
  list-style: disc;
}

 ul {
  /* display: list-item; */
  margin-bottom: 0.5em;
  text-align: justify;
  line-height: 1.6;
  /* font-family: serif; */
  color: #363435;
  list-style:disc;

}

 img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

 a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

 a:active {
  color: darkblue;
}

 i {
  font-style: italic;
}

 blockquote {
  border-left: 2px solid rgb(154, 154, 168);
  background-color: #f8f5f7;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px 0;
}

 p a {
  color: rgb(180, 0, 0); /* Darker red */
  font-size: 14.2px;
  margin: 20px 0;
}


 .wp-block-file__button, 
.wp-element-button {
  color: rgb(58, 46, 46);
  border: 1px solid;
  padding: 8px 12px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  transition: all 0.3s ease;
}

 .wp-block-file__button:hover, 
.wp-element-button:hover {
  background-color: rgb(245, 46, 46);
  color: white;
}



/* Add this to your global CSS or inside a `@layer` if using Tailwind */

/* Responsive Adjustments */

/* Small screens (e.g., phones) */
@media (max-width: 600px) {
   h1 {
      font-size: 2em;
  }
   h2 {
      font-size: 1.7em;
  }
   h3 {
      font-size: 1.5em;
  }
   h4 {
      font-size: 1.3em;
  }
   h5 {
      font-size: 0.9em;
  }
   p,li {
      font-size: 16.2px;
  }
   ul,
   ol {
      padding-left: 20px;
  }
}

/* Medium screens (e.g., tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
   h1 {
      font-size: 1.9em;
  }
   h2 {
      font-size: 1.7em;
  }
   h3 {
      font-size: 1.5em;
  }
   h4 {
      font-size: 1.3em;
  }
   h5 {
      font-size: 1em;
  }
   p,li {
      font-size: 17.5px;
  }
}

/* Large screens (e.g., desktops) */
@media (min-width: 1025px) {
   h1 {
      font-size: 2.25em;
  }
   h2 {
      font-size: 2em;
  }
   h3 {
      font-size: 1.75em;
  }
   h4 {
      font-size: 1.5em;
  }
   h5 {
      font-size: 1.25em;
  }
   p,li {
      font-size: 19.2px;
  }
   p a {
    font-size: 16.2px;
    font-weight: 600;  
  }
}